html {
  background-color: #6A7575;
}
header {
  padding: 0 20px;
  background-color: #fff;
  h1 {

  }
}
.main {
  background-image: url('/assets/images/prime_pano_bw.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0% 0%;
  padding: 45px 0;
  -webkit-transition: background-position 1s ease-in-out 0.3s;
  -moz-transition: background-position 1s ease-in-out 0.3s;
  -o-transition: background-position 1s ease-in-out 0.3s;
  -ms-transition: background-position 1s ease-in-out 0.3s;
  transition: background-position 1s ease-in-out 0.3s;
}
/* Carousel */
.carousel {
  position: relative;
  height: 345px;


  .slide {
    background-color:rgba(255, 255, 255, 0.8);
    background-size: cover;
    display: none;
    position: absolute;
    padding: 40px 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.active {
      display: block;
    }
    h2 {
      margin: 0 0 10px 0;
    }
  }
}
/* Carousel Nav*/
.carousel-nav {
  text-align: center;
  background-color: #000000;
  color: #bae0db;

  .arrow {
    display: none;
    vertical-align: top;
    margin-top: 6px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .arrow.prev {
    margin-right: 5px;
  }

  .arrow.next {
    margin-left: 5px;
  }
  .nav-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: inline;
      font-size: 30px;
      padding: 0 4px;
      cursor: pointer;

      &.active {
        color: #07AA9E;
      }
    }
  }
}
@media (min-width: 1200px){
  .container {
    width: 970px;
  }
}
